body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKEV63khjX5Ig3lZX0Qlm6uig4SX_z2jA7Dps1lH8SHjz8_Mn-dVjPs9K2&s=10);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;

    /* OPTIONAL */

    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
}

.clock_container {
    /* backdrop-filter: blur(5px); */
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.clock {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px black;
}