/* RAINBOW BG ANIMATION */
@keyframes rainbowBG { 
  0%   { background: red; }
  17%  { background: orange; }
  34%  { background: yellow; }
  50%  { background: green; }
  65%  { background: blue; }
  82%  { background: purple; }
  100% { background: violet; }
}

/* RAINBOW BUTTON ANIMATION */
@keyframes rainbowBTN {
  0%   { background-color: blue; }
  16%  { background-color: green; }
  34%  { background-color: greenyellow; }
  50%  { background-color: purple; }
  65%  { background-color: red; }
  82%  { background-color: orange; }
  100% { background-color: violet; }
}

/* RAINBOW SHADOW ANIMATION */
@keyframes rainbowShadow {
  0%   { box-shadow: 9px 9px 25px blue; }
  16%  { box-shadow: 9px 9px 15px green; }
  34%  { box-shadow: 9px 9px 25px greenyellow; }
  50%  { box-shadow: 9px 9px 15px purple; }
  65%  { box-shadow: 9px 9px 25px red; }
  82%  { box-shadow: 9px 9px 15px orange; }
  100% { box-shadow: 9px 9px 25px violet; }
}

/* HELLO CRAP NUT ANIMATION */
@keyframes crapNutHeader {
  0%   { transform: scale(0.7); }
  10%  { transform: scale(0.6); }
  20%  { transform: scale(0.5); }
  30%  { transform: scale(0.7); }
  40%  { transform: scale(0.5); }
  50%  { transform: scale(0.6); }
  60%  { transform: scale(0.7); }
  70%  { transform: scale(0.6); }
  80%  { transform: scale(0.5); }
  90%  { transform: scale(0.6); }
  100% { transform: scale(0.7); }
}

.rainbow-in-action {
  animation: rainbowBG 5s infinite !important;
  transition: all 0.5s ease;

  h1 {
    position: relative;
    top: 2rem;
    font-size: 5rem;
    margin-bottom: 5rem;
    font-family: cursive;
    color: white;
    mix-blend-mode: difference;
    animation: crapNutHeader 5s infinite;
    transform: scale(1.5);
  }

  button {
    animation: rainbowBTN 5s infinite !important;
    transition: all 0.5s ease;
  }

  button:hover {
    animation: rainbowShadow 5s infinite !important;
    transform: scale(2);
  }
}

.forms-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem;
}

button {
  font-size: 1.5rem;
  font-family: monospace;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  background-color: darkblue;
  color: white;
}

button:hover:disabled {
  cursor: not-allowed;
  background-color: white;
  opacity: 0.5;
}

.counter-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.fruit-list {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30rem;
  margin: 0.6rem;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: aqua;
  }
}

.lists-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

li, h1, h2, p {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
}

label {
  font-size: 1.5rem;
  font-family: monospace;
  color: cornsilk;
}

input {
  font-size: 1rem;
  font-family: monospace;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid black;
}

hr {
  margin: 1rem 0;
  border: 1px solid black;
}

.current-value {
  font-size: 2.1rem;
  color: lawngreen;

  &:hover {
    color: blue;
    cursor: pointer;
    text-shadow: 4px 4px 10px darkslategray;
  }
}

.welcome-message {
  color: lawngreen;
  text-shadow: 3px 3px 5px black;
}

.login-message {
  color: red;
  text-shadow: 3px 3px 5px black;
}

.nav {
  position: sticky;
  top: 5px;
  left: 5px;
  right: 5px;
  z-index: 9999;

  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  opacity: 0.9;
  /* backdrop-filter: blur(10px);   */
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: 0 2rem;
}

.nav__listitem {
  list-style: none;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.nav__listitem:hover .nav__listitemdrop,
.nav__listitem:focus-within .nav__listitemdrop {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  transition: all 0.4s ease-in-out;
}

.nav__listitemdrop {
  position: absolute;
  top:4rem;
  left:-1rem;
  text-align: center;
  box-shadow: 0 0 10px gray;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* z-index: 1; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav__listitemdrop li {
  list-style: none;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.nav__listitemdrop li:hover,
.nav__listitemdrop li:focus {
  transform: scale(1.1);
  background-color: lightblue;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: monospace;
  color: blue;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
  
  transition: all 1s ease-in-out;
}

a:hover {
  /* text-decoration: underline; */
  color: darkblue;
  cursor: pointer;
  /* transform: scale(1.1); */
  text-shadow: 2px 2px 4px whitesmoke;
}